@import-normalize;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'sans-serif';
  background-color: #c5e9ff;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@media (min-width: 500px) {
  #root {
    height: auto;
  }
}
