@import-normalize;

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 101vh;
  margin: 0;
  background-color: #c5e9ff;
  font-family: 'Montserrat', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 500px) {
  #root {
  }
}

a {
  cursor: pointer;
}
